<?xml version="1.0" encoding="UTF-8"?>

	<!-- Migration Config Schema VERSION 0.1.0 -->

	<!--
		Changes log: Valério João - EGPAF (21/08/2014): Created basic structure
	-->

<config xmlns="http://schema.config.dmt.esaude.org" targetNamespace="http://schema.config.dmt.esaude.org">
	<!-- the matching file in XLS info goes here -->
	<matching_input>
		<file_name>OpenMRS_SESP_Matching_Table_110420151921</file_name>
		<!-- file_name>OpenMRS_SESP_Matching_Table_Providers_271020140818</file_name-->
		<format>xls</format>
		<location>/home/localhost/Documents/Code/OpenMRS/data-migration-system/src/main/resources/</location>
	</matching_input>
	<!-- the left side database info goes here -->
	<targetDs>
		<drive_name>com.mysql.jdbc.Driver</drive_name>
		<username>root</username>
		<password>blackboard</password>
		<database_name>openmrs</database_name>
		<database_location>jdbc:mysql://localhost:3306/</database_location>
	</targetDs>
	<!-- the right side databases info goes here -->
	<sourceDs>
		<drive_name>com.mysql.jdbc.Driver</drive_name>
		<username>root</username>
		<password>blackboard</password>
		<database_name>source_medical_dummy</database_name>
		<database_location>jdbc:mysql://localhost:3306/</database_location>
	</sourceDs>
	<!-- the limit number of trees to be processed, zero (0) or negative (-x) = unlimited -->
	<tree_limit>0</tree_limit>
	<!-- whether or not the results will be committed -->
	<allow_commit>true</allow_commit>
	<!-- whether the process should start from zero or last stopped point  -->
	<reset_process>false</reset_process>
</config>
