<?xml version="1.0" encoding="UTF-8"?>

	<!-- Migration Config Schema VERSION 0.1.0 -->

	<!--
		Changes log: Valério João - EGPAF (21/08/2014): Created basic structure
	-->

<config xmlns="http://schema.config.dmt.esaude.org" targetNamespace="http://schema.config.dmt.esaude.org">
	<!-- the matching file in XLS info goes here -->
	<matching_input>
		<file_name>OpenMRS_SESP_Matching_Table_210820141022</file_name>
		<format>xls</format>
		<location>C:/EMR_Architecture</location>
	</matching_input>
	<!-- the left side database info goes here -->
	<targetDs>
		<drive_name>com.mysql.jdbc.Driver</drive_name>
		<username>esaude</username>
		<password>esaude</password>
		<database_name>openmrs</database_name>
		<database_location>jdbc:mysql://localhost:3306/</database_location>
	</targetDs>
	<!-- the right side databases info goes here -->
	<sourceDs>
		<drive_name>sun.jdbc.odbc.JdbcOdbcDriver</drive_name>
		<username></username>
		<password></password>
		<database_name>Sistema Hdd_be.mdb</database_name>
		<database_location>jdbc:odbc:DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Sistema Hdd_be/</database_location>
	</sourceDs>
	
</config>